.alert-box {
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
  }
  
  .incorrect {
    background-color: rgb(230, 74, 74);
  }  

  .correct {
    background-color: #0BC5EA;
  }