.container{
    position: relative;
    width: 1067px;
    height: 201px;
    font-family: "Poppins";
    font-weight: 400;
    color: #000000;
    cursor: pointer;
}

.elementsContainer{
    width: 252px !important;
    height: 195px;

}

.imgPriceContainer{
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
}



.price{
    position: absolute;
    top:0;
    z-index: 3;
    font-size: 15px;
    width: 62px;
    height: 37px;
    border-radius: 0px 0px 0px 10px; /* Corregir la sintaxis del border-radius */
    background: #333333;
    color: #FFFFFF;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locStarContainer{
    display: flex;
    width: 252px;
    height: 30px;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
}

.image{
    height: 165px;
    width: 252px;
}

.rateStarContainer{
    display: flex;
}

.start{
    width: 18px;
    height: 18px;
    margin-left: 1px;

}
.swiper-button-next::after{
   font-size: 30px !important;
}

.swiper-button-prev::after{
    font-size: 30px !important;
 }

.swiper-button-next,
.swiper-button-prev {
  color: #FFFFFF !important; /* Change this to your desired color */
  background: #666666;
  width: 29px !important;
  top: 66px !important;
  height: 75px !important; 
    
}

.swiper-button-next{
    right: 0 !important;
}

.swiper-button-prev{
    left: 0 !important;
}

/* Optional: Change the color on hover for better user feedback */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #333333;
}